<!DOCTYPE html>
<html ng-app="siga">
<head>
	<title></title>
		<title>SIGA</title>
	 <!-- Compiled and minified CSS -->
   <link href='https://fonts.googleapis.com/css?family=Montserrat|Oleo+Script' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="app.css">

	<meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no"/>
	<meta charset="utf-8"/>
          
</head>
<body>
<section id="header">

</section>
<section id="main-container">
	<div class="container">
			<div class="row s12" ng-controller="UsuarioController as usrCtrl">
				<div class="col s6">
				Alumno : {{usrCtrl.alumno.codigo}} - {{usrCtrl.alumno.nombre}} {{usrCtrl.alumno.apellpa}} {{usrCtrl.alumno.apellma}}
				</div>
				<div class="col s3 offset-s3">
				Grado : {{usrCtrl.alumno.grado}} -{{usrCtrl.alumno.seccion}}
				</div>
        	</div>
			<div class="row">
			    <div class="divider"></div>
				<div class="row s10	defaul-box">
					<h2 class="center-align"> Avisos</h2>
					<div class="row s10">
						
						<!-- -
			           <div class="col m5 hide-on-small-only">
			              <img class="bienvenida" src="img/avisos.jpg" />
			            </div>
			            ->
			            <!-- Avisos -->
						<div class="col m12"  ng-controller="AvisosController as avisoController">				

							  <ul class="collection">

							    <li class="collection-item avatar"  ng-repeat="aviso in avisoController.avisos">
							      <i class="material-icons circle">folder</i>
							      <span class="left-align">{{aviso.titulo}}</span>
							      <p>{{aviso.fecha}}<br>
								      </p>
							      <a href="#!" class="secondary-content"><i class="material-icons">ver mas</i></a>
							    </li>

							  </ul>
						</div>
					</div>

				</div>

			    <div class="divider"></div>
				<div class="row s10	">
					<div class="row s10 signup-box">
						<h5 class="siga">Tareas y Actividades</h5>
						<!-- Tareas -->
						<div class="col m12"  ng-controller="TareasController as tareasController">
							
							 <ul class="collection">
							    <li class="collection-item avatar" ng-repeat="tareas in tareasController.tareas">
							      <i class="material-icons circle">folder</i>
							      <span class="title">{{tareas.titulo}}</span>
							      <p>{{tareas.nombre_curso}}<br>
							         Entrega : {{tareas.fecha}}
							      </p>
							      <a href="#!" class="secondary-content"><i class="material-icons">ver más</i></a>
							    </li>
						</div>
						<!--<div class="col m5 hide-on-small-only">
			              <img class="bienvenida" src="img/tareas.jpg" />
			            </div>
			            -->

					</div>


			</div>
		</div>
	</div>
</section>

 <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col s12  center-align">
        <div class="divider"></div>
          Sergio Bernales 215
          Miraflores - Perú
          T (51) 993490440
          E informes@b2mind.com
          © 2016 B2MIND
        </div>
    </div>
  </footer>
    <!-- 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="js/app.js"></script>

</body>
</html>